#content-parent {
    width:calc(100% - var(--sidebar-closed-width));
    margin:0;
    margin-left:var(--sidebar-closed-width);
    padding:0;
    margin-top:2cm;

    display:flex;
    justify-content:space-evenly;
}

.item-filter {
    width:33% !important;
}

#prefab_header {
    height:100%;
    width:100%;
}
